$removeBtn:firebrick;

.botao {
    display: inline-block;
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 0.187rem;
    font-size: 1.2rem;
}

.botao-perigo {
    background-color: $removeBtn;
    color: #FFF;
}

.botao-padrao {
    background-color: darkcyan;
    color: #FFF;
}